// Phones (<=576px)
$screen-575: 575px;

// Extra small devices (<768px)
$screen-767: 767px;

// Small devices (<992px)
$screen-991: 991px;

// Medium devices (<1200px)
$screen-1199: 1199px;

// Large screen (<1440px)
$screen-1440: 1440px;

// High screen (<1680px)
$screen-1680: 1680px;
