// Custom colors
$black-color: #000;
$white-color: #FFF;

// Theme colors
$active-blue-color: #1837AC;
$content-bg-color: #F4F4F4;
$text-gray-color: #A7A7A7;
$dark-gray-color: #3F3F3F;
$footer-text-color: #9CBFE6;
